setuptools
plyfile
pytorch-lightning==2.4.0
opencv-python
imageio
ftfy
regex
tqdm
#./third_party/CLIP/
git+https://github.com/openai/CLIP.git
altair
streamlit
protobuf
timm
tensorboard
tensorboardX
matplotlib
test-tube
wandb
torchmetrics
scikit-image
scikit-learn
git+https://github.com/zhanghang1989/PyTorch-Encoding/
pycocotools
onnxruntime 
onnx

#./instant-nsr-pl/
omegaconf==2.2.3
nerfacc==0.3.3
imageio-ffmpeg
PyMCubes
pyransac3d
torch_efficient_distloss
tensorboard
trimesh
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch

# fix post-training but using gsplat
git+https://github.com/nerfstudio-project/gsplat.git@v0.1.10